
<aside th:fragment="sidebar">
		<link  href="../../static/css/dropdownMenu.css" th:href="@{/css/dropdownMenu.css}" rel="stylesheet">
		<div id="mySidenav" class="sidenav">
		  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
		  		&times;
		  	</a>
		  	
		  	<ul>
		  		<li>
		  		<div class="dropdown dropright">
			        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Alumnes</button>
			        <div class="dropdown-menu">
			          <a class="dropsown-item" th:href="@{/alumnes/indexPaginate}">Llistat d'Alumnes</a>
			        </div>
			    </div>
			    </li>
			    <br>
			    <li>
		  		<div class="dropdown dropright">
			        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tutors</button>
			        <div class="dropdown-menu">
			          <a th:href="@{/tutors/index}">Llistat de Tutors</a>
			        </div>
			    </div>
			    </li>
			    <br>
			    <li>
		  		<div class="dropdown dropright">
			        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Usuaris</button>
			        <div class="dropdown-menu">
			          <a th:href="@{/usuaris/indexPaginate}">Llistat d'Usuaris</a>
			        </div>
			    </div>
			    </li>
			    <br>
			    <li>
            	<div class="dropdown dropright">
			        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Gestio</button>
			        <div class="dropdown-menu">
			          <a th:href="@{/gestio/index}">Llistat de Gestio</a>
			        </div>
			    </div>
			    </li>
            </ul>
		</div>
	
		
		
</aside>
