<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		<aside  th:insert="fragments/header :: header"></aside>
		<nav th:insert="fragments/menu :: menu-principal"></nav>

	    <main role="main">
	
		      <!-- Main jumbotron for a primary marketing message or call to action -->
		      <div class="jumbotron">
		        <div class="container">
		          
		        </div> <!-- /container -->
		      </div>
		      
		      <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
		      <div class="container"> 
		        
		        <hr>         
		        
		      </div> <!-- /container -->

    	</main>
    	<footer th:insert="fragments/footer :: footer"></footer>
	</body>
</html>