<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


		<aside th:insert="fragments/header :: header"></aside>
		
	<body>
		
		
		<aside th:insert="fragments/menu :: menu-principal"></aside>

	    <main role="main">
	
		      <!-- Main jumbotron for a primary marketing message or call to action -->
		      <div class="jumbotron">
		        <div class="container">
		          
		        </div> <!-- /container -->
		      </div>
		      
		      <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
		      <div class="container"> 
		        
		        <hr>         
		        
		      </div> <!-- /container -->

    	</main>
    	
    	<aside th:insert="fragments/footer :: footer"></aside>
	
	</body>
</html>